{% extends 'base.html.twig' %}

{% block title %}contactez-nous
{% endblock %}

{% block body %}
	<h1>Nous contacter</h1>

	{{form_start(form)}}
	<div class="row">
		<div class="col-sm">{{ form_row(form.name)}}</div>
		<div class="col-sm">{{ form_row(form.email)}}</div>
		<div class="col-sm">{{ form_row(form.service)}}</div>
	</div>
	{{form_end(form)}}
	<!--map-->
<section>
    <div>
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3931.9753523544796!2d5.214366753330382!3d43.41055327896721!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x12c9e62fd15872d9%3A0x6f59129599798dbf!2sChronodrive!5e0!3m2!1sfr!2sfr!4v1707821944839!5m2!1sfr!2sfr" width="100%" height="450" style="border:0; border-radius: 15px;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade" frameborder="0"></iframe>
    </div>
</section>
{% endblock %}
